%title {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-title);
    line-height: 1.4;
}

.title2 {
    @extend %title;
    font-size: var(--font-size-title2);
    color: rgba(52, 58, 64, 1);
}

.title3 {
    @extend %title;
    font-size: var(--font-size-title3);
    color: var(--color-gray-4);

    &.pink {
        color: var(--color-primary);
    }
}

.formText {
    font-family: var(--font-family-secondary);
    font-weight: 400;

    label {
        font-size: var(--font-size-body-sm);
        color: var(--color-gray-4);
    }

    span {
        font-size: var(--font-size-body-sm);
        color: var(--color-gray-3);
    }

    input,
    select {
        font-size: var(--font-size-body-lg);
        color: var(--color-gray-4);
    }

    input::placeholder {
        color: var(--color-gray-3)
    }
}

.text-sm {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body-sm);
    font-weight: var(--font-weight-body);

    &.light {
        color: var(--color-gray-3);
    }

    &.dark {
        color: var(--color-gray-4);
    }
}
